.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &Logo {
    &Text {
      font-size: 1.5em;
    }
    &Tag {
      font-size: 1.1em;
      margin-bottom: 1.3em;
    }
  }
  &Icon {
    font-size: 1.3em !important;
    &Profile {
      margin-top: 22px;
    }
  }
  &Menu {
    flex: 1;
    min-width: 0;
    justify-content: end;
    margin: 0 18px;
  }
}
